<section class="box">
  <a href="/blog/{{id}}">
    <div class="title">
      <h2>{{title}} </h2>
      <p>Author: {{user.username}} {{format_date createdAt}}</p>
    </div>    
    <p>{{description}}</p>
  </a>
</section>